<% @recent_articles.each do |article| %>
	<article class="article_excerpts">
		<p class="article_date">
			<%= article.created_at.strftime('%b %d, %Y') %>&nbsp; &nbsp; -
			<% article.categories.each do |category| %>
				<span class="article_categories"><%= link_to category.name, category %></span>
		  <% end %>
	  </p>
	  <h2 class="article_title"><%= link_to article.title, article %></h2>
	  <p><%= truncate(article.content, length: 300) %></p>
	</article>
<% end %>