<!DOCTYPE html>
<html>
<head>
  <title>Wikiful</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/tww2lcm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header id="main_header">
		<div class="wrapper_wide">
			<p class="logo"><a href="/">Wikiful</a></p>
			<nav class="main_nav">
				<a href="#">Log In</a>
				<a href="#">Sign Up</a>
			</nav>
		</div>
	</header>

	<div class="wrapper_skinny">
		<%= yield %>
	</div>

</body>
</html>
